
* {
    font-family: Roboto;
}

body {
    background-color: #fafafa;
}

/* NAVBAR */

.brand-logo {
    width: 44px;
    height: 44px;
    margin-top: 10px;
}

nav ul a {
    color: #9e9e9e;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

nav ul a:hover, nav ul a.active {
    color: #7cb342;
    background-color: #ffffff;
}

nav ul a.active::after {
    margin-top: -3px;
    margin-left: -15px;
    width: calc(100% + 30px);
    height: 3px;
    background: #7cb342;
    display: block;
    content: '';
}

/* NAVBAR */

/* MAIN */

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.green-background {
    background-color: rgba(124, 179, 66, 0.5);
}

#poll-info-text h6 {
    font-size: 1.4rem;
}

.button-white {
    color: #7cb342;
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-white:hover {
    background-color: #f2f2f2;
}

.button-white:focus {
    background-color: #e6e6e6;
}

.waves-effect.waves-my-green .waves-ripple {
    background-color: rgba(124, 179, 66, 0.35);
}

.button-green {
    color: #ffffff;
    background-color: #7cb342;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-green:hover {
    background-color: #89c04f;
}

.button-green:focus {
    background-color: #96cd5c;
}

.my-padding {
    padding: 20px 24px 27px 24px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.z-depth-2-half {
    -webkit-box-shadow: 0 6px 11px 1px rgba(0, 0, 0, 0.14), 0 1px 12px 1px rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 11px 1px rgba(0, 0, 0, 0.14), 0 1px 12px 1px rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.2);
}

.row.no-margin-bot {
    margin-bottom: 0;
}

.my-floating-button {
    position: absolute;
    margin: 0;
    left: calc(50% - 28px);
}

.info-input-field.input-field > label,
.add-input-field.input-field > label {
    font-size: 1.2rem;
}

.info-input-field input[type=text]:not(.browser-default),
.info-input-field input[type=number]:not(.browser-default) {
    border-bottom: 1px solid #ffffff;
}

.info-input-field input[type=text]:not(.browser-default),
.info-input-field input[type=number]:not(.browser-default),
.add-input-field input[type=text]:not(.browser-default),
.add-input-field input[type=password]:not(.browser-default),
.poll-info-modal-text {
    color: #50565d;
}

.info-input-field input[type=text]:not(.browser-default) + label,
.info-input-field input[type=number]:not(.browser-default) + label {
    color: #ffffff;
}

.info-input-field input[type=text]:not(.browser-default):focus:not([readonly]),
.info-input-field input[type=number]:not(.browser-default):focus:not([readonly]),
.add-input-field input[type=text]:not(.browser-default):focus:not([readonly]),
.add-input-field input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #7cb342;
    -webkit-box-shadow: 0 1px 0 0 #7cb342;
    box-shadow: 0 1px 0 0 #7cb342;
}

.timepicker-digital-display, .datepicker-date-display, 
.datepicker-table td.is-selected, .month-next:focus, 
.month-prev:focus, .my-green {
    background-color: #7cb342;
}

.info-input-field input[type=text]:not(.browser-default):focus:not([readonly]) + label,
.info-input-field input[type=number]:not(.browser-default):focus:not([readonly]) + label,
.add-input-field input[type=text]:not(.browser-default):focus:not([readonly]) ~ label,
.add-input-field input[type=password]:not(.browser-default):focus:not([readonly]) ~ label,
.timepicker-close, .datepicker-cancel, 
.datepicker-done, .datepicker-table td.is-today, 
.dropdown-content li > span, .green-header, 
.location-url, .collection a.collection-item, 
.collection li.collection-item,
.collection li.collection-header,
.my-green-text {
    color: #7cb342;
}

.datepicker-table td.is-selected {
    color: #fff;
}

.timepicker-canvas-bg, .timepicker-canvas-bearing {
    fill: #7cb342;
}

.timepicker-canvas line {
    stroke: #7cb342;
}

.timepicker-tick.active, .timepicker-tick:hover, .datepicker-day-button:focus {
    background-color: rgba(124, 179, 66, 0.25);
}

.autocomplete-content.dropdown-content {
    max-height: 350px;
}

.left-margin-btn {
    margin-left: 25px;
}

.btn-font {
    font-family: Roboto;
}

.header-title {
    margin-top: 35px;
    margin-bottom: 35px;
}

#poll-participants {
    display:block;
    position:relative;
}

.gold {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.silver {
    font-size: 1.45rem;
    margin-bottom: 15px;
}

.bronze {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.gold .material-icons {
    color: #ffd700;
    font-size: 3.4rem;
    text-shadow: 0 0 .85rem #ffd700;
}

.silver .material-icons {
    color: #c0c0c0;
    font-size: 2.7rem;
    text-shadow: 0 0 .675rem #c0c0c0;
}

.bronze .material-icons {
    color: #cd7f32;
    font-size: 2.2rem;
    text-shadow: 0 0 .55rem #cd7f32;
}

.gold .material-icons, .silver .material-icons, .bronze .material-icons {
    vertical-align: bottom;
}

.collection a.collection-item {
    cursor: pointer;
}

.collection a.collection-item.hover-item:not(.active):hover,
.collection li.collection-item.hover-item:not(.active):hover {
    background-color: #f2f2f2;
}

.collection a.collection-item.no-hover-item:not(.active):hover {
    background-color: #fff;
    cursor: progress;
}

.my-badge {
    padding: 2px 6px;
    margin-left: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
}

.total-badge {
    float: right;
    color: #ffffff;
}

.secondary-content {
    display: none;
}

.collection li.collection-item:not(.active):hover .secondary-content {
    display: inline-block;
}

.secondary-content .material-icons {
    vertical-align: middle;
    padding: 1px 3px;
    color: #d32f2f;
    cursor: pointer;
}

.secondary-content .material-icons:hover {
    color: #f44336;
}

.custom-ol {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    counter-reset: my-counter;
}

.custom-ol li {
    counter-increment: my-counter;
    color: #50565d;
    margin-top: 5px;
}

.custom-ol li::before {
    content: counter(my-counter) ".";
    margin-right: 10px;
    color: #7cb342;
    font-weight: bold;
}

.modal {
    max-width: 850px;
}

.wrong-credentials {
    margin-top: 0px;
    color: #e53935;
    margin-bottom: 0;
}

/* MAIN */

/* FOOTER */

nav ul a:focus, nav ul a:focus.active {
    background-color: #f1f8e9;
}

.page-footer {
    padding-top: 0;
    -webkit-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px -1px rgba(0, 0, 0, 0.3);
}

.footer-text {
    font-size: 16px;
    color: #50565d;
}

.footer-text a {
    color: #9ccc65;
}

.page-footer .row {
    margin-bottom: 0;
}

/* FOOTER */

/* SPINNER */

body.spinner-loading {
    overflow: hidden;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    background-color: rgba(250, 250, 250, 0.75);
    cursor: progress;
}

#update-poll-spinner.spinner-overlay {
    z-index: 996;
    top: -20px;
    bottom: -20px;
    height: calc(100% + 40px);
}

#save-info-spinner.spinner-overlay {
    border-radius: 2px;
}

#main-spinner.spinner-overlay {
    position: fixed;
    background-color: #ffffff;
}

.spinner-green-only {
    border-color: #7cb342;
}

.spinner {
    position: absolute;
    width: 84px;
    height: 84px;
    top: calc(50% - 42px);
    left: calc(50% - 42px);
}

#main-spinner .spinner {
    position: fixed;
    width: 112px;
    height: 112px;
    top: calc(50% - 56px);
    left: calc(50% - 56px);
}

.spinner-logo {
    position: absolute;
    width: 48px;
    height: 48px;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
}

#main-spinner .spinner-logo {
    position: fixed;
    width: 64px;
    height: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

#error-info-text {
    position: absolute;
    top: calc(50% + 50px);
    width: 100%;
    text-align: center;
    display: none;
}

.circle-clipper .circle {
    border-width: 3px;
}

#main-spinner .circle-clipper .circle {
    border-width: 4px;
}

.progress.custom-progress {
    margin: 10px auto;
    background-color: rgba(124, 179, 66, 0.35);
}

.progress.custom-progress .indeterminate{
    background-color: #7cb342;
}

.stats-height {
    max-height: 450px;
}

/* SPINNER */

/* MEDIA */

@media only screen and (max-width: 390px) {
    .collection-header h5 {
        font-size: 1rem;
    } 
}

@media only screen and (min-width: 391px) and (max-width: 450px) {
    .collection-header h5 {
        font-size: 1.20rem;
    }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
    .collection-header h5 {
        font-size: 1.45rem;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo.left {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .brand-logo {
        width: 40px;
        height: 40px;
        margin-top: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
      left: auto;
      right: 5%;
      bottom: 7%;
    }
}
  
@media only screen and (min-width: 993px) {
    #toast-container {
        top: auto;
        left: auto;
        right: 5%;
        bottom: 7%;
    }
}

/* MEDIA */